[package]
name = "dstack-verifier"
version = "0.1.0"
edition = "2021"

[dependencies]
thiserror = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
base64 = "0.22"
sha2 = "0.10"
hex = "0.4"
tdx-quote = "0.0.5"

[dev-dependencies]
